#___gcse_0 input{
  background: transparent !important;
}
#___gcse_0 .gsc-control-cse.gsc-control-cse-ja{
  background: transparent;
  border-color: transparent;
}
#___gcse_0 .gsc-control-wrapper-cse{
  border-color: transparent;
}
#___gcse_0 #gsc-iw-id1{
  background: transparent;
}
#___gcse_0 #gsc-iw-id1{
  border-color: #7e7e7e;
}
#___gcse_0 table{
  border-color: transparent;
}
#___gcse_0 tbody{
  border-color: transparent;
}
#___gcse_0 tr{
  border-color: transparent;
}
#___gcse_0 td{
  border-color: transparent;
}
#___gcse_0 form{
  border-color: transparent;
}